a {
    text-decoration: none;
    color: rgb(205, 205, 205);
}


a:hover {
    transition-duration: 0.25s;
    color: rgb(0, 175, 0);
}


hr {
    height: 0px;
    box-sizing: content-box;
    max-width: 65%;
    margin: 0 auto
}


#headerHOC h2 {
    padding: 60px 20px 0 20px;
    color: 	rgb(238,238,238);
    font-size: 46px;
    text-align: center;
    font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  

#headerHOC p {
    color: rgb(238,238,238);
    text-align: justify;
    padding: 0px 150px;
    font-size: 28px;
    font-weight: lighter;
    word-spacing: 0.05em;
    line-height: 2;
    
}


#textPartHOC {
    flex: 11;
    padding: 2px;
    text-align: left;
    background-color: #222831;
}


#textPartHOC p {
    padding: 0px 20px 0px 150px;
}


#imagePartHOC {
    flex: 9; 
    display: grid;
    gap: 20px; 
    padding: 0px 150px 0px 20px;
    background-color: #222831;
}

#imagePartHOC div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changeButtons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.changeButtons button {
    display: flex;
    width: 100%;
    font-family: Poppins;
    font-size: 15px;
    justify-content: center;
    color: #EEEEEE;
    background: #00ADB5;
    border-radius: 20px;
    border: 1px solid #00ADB5;
}

.changeButtons button:hover {
    transition-duration: 0.5s;
    background-color: hsl(183, 100%, 25%);
    cursor: pointer;
}

#imagePartHOC img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerHOC {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    border: 0px solid #ddd;
}
